{% extends "TasksManager/cover.html" %}


{% block title_html %}
    Login
{% endblock %}


{% block h1 %}
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
    <a href="{% url "modify_my_file" %}" class="btn btn-lg btn-default">Start your project</a>
    </p>
{% endblock %}


{% block article_content %}

    <!--
    <p>Logged out!</p>
    <a href="{%url 'login'%}">Click here to login again.</a>
    -->
{% endblock %}