{% extends "TasksManager/cover.html" %}


{% block title_html %}
    Login
{% endblock %}


{% block h1 %}
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
    </p>

    {% if form.errors %}
        <p> Your username and password didn't match. Please try again</p>
    {%endif%} 

    {% if next %}
        {% if user.is_authenticated %}
            <p> Your account does not haveaccess to thispage.To Proceed, Please login with an accountthat has access.</p>
        {%else%}    
            <p> Please login to see thispage.</p>
        {%endif%}    
    {%endif%}    
    <form method="post" action="{%url 'login'%}">
        {% csrf_token %}
        <div class="form-group">
            {{form.username.label_tag}}
            <input placeholder="Enter user name" class="form-control" {{form.username}}
        </div>
        <div  class="form-group">
            {{form.password.label_tag}}
            <input placeholder="Enter password" class="form-control" {{form.password}}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default btn-info btn-lg" value="login"/>
            {#<input type="hidden" name="next" value="{{next}}"/>#}
            
        </div>
    </form>
    {# Assumes you setup the password_reset view in your URLconf#}
    <p><a href="{% url 'password_reset'%}">Lost password?</a></p>
    <p><a href="{% url 'create_developer'%}">New User!!! Sign Up</a></p>
{% endblock %}
