{% extends "TasksManager/header.html" %}

{% block title_html %}
    Create Developer
{% endblock %}

{% block h1 %}
    Create Developer
{% endblock %}

{% block article_content %}
    <form class="col-sm-9" method="post" action="{% url "create_developer" %}" >
        {% csrf_token %}
       
       


        <div class="form-group">
            <label  class="col-sm-3 ">{{ form.name.label_tag}}</label>
            <div class="col-sm-9 input-group" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="field" class="form-control" {{form.name}}
                
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 ">{{ form.username.label_tag}}</label>
            <div class="col-sm-9 input-group" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="field" class="form-control" {{form.username}}
                
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-3 ">{{ form.password.label_tag}}</label>
            <div class="col-sm-9 input-group" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" {{form.password}}
                
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3">{{ form.email.label_tag}}</label>
            <div class="input-group col-sm-9" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email"  class="form-control" {{form.email}}
            </div>
        </div>
       
        <div class="form-group">
            <label class="col-sm-3"></label>
            <p><input type="submit" class="btn btn-default btn-md btn-info sm-col-3" value="Create" /></p>
        </div>
    </form>
{% endblock %}