{% extends "TasksManager/header.html" %}

{% block title_html %}
    Cetain Project
{% endblock %}

{% block h1 %}
    Selected Project
{% endblock %}

{% block article_content %}
    <h3>{{ action }}</h3>

        Length: {{ project_details|length }}
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>description</td>
                    <td>client_name</td>
                </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ project_details.id }}</td>
                <td>{{ project_details.title }}</td>
                <td>{{ project_details.description }}</td>

            </tr>



            </tbody>
        </table>

{% endblock %}