{% extends "TasksManager/header.html" %}

{% block title_html %}
    User Details
{% endblock %}

{% block h1 %}
    User Details
{% endblock %}

{% block article_content %}
    <h3>{{ action }}</h3>
    Length:{{user_details|length}}
    <table class="table table-striped">
        <thead>
                <tr>
                    <td>ID</td>
                    <td>name</td>
                    <td>login</td>
                    <td>email</td>
                    <td>phone</td>
                </tr>
            </thead>
        <tbody>

                <tr>
                    <td>{{ user_details.id }}</td>
                    <td>{{ user_details.name }}</td>
                    <td>{{ user_details.login }}</td>
                    <td>{{ user_details.email }}</td>
                    <td>{{ user_details.phone}}</td>
                </tr>

            </tbody>
    </table>
{% endblock %}
